{% extends "layout.html" %}
{% block title %} Archive Search {%endblock%}

    {% block main %}
        <form action = "/upload" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "file">
            <input type="radio" name="lang" value="Turkmen">Turkmen
            <!-- <label for="tm">Turkmen</label><br> -->
            <input type="radio" name="lang" value="French">French
            <!-- <label for="fr">French</label><br> -->
            <input type="radio" name="lang" value="Russian">Russian
            <!-- <label for="ru">Russian</label><br> -->
            <input type = "submit" value="Process">
        </form>

        <table class="table table-stripped table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Turkmen</th>
                    <th>French</th>
                    <th>Russian</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="info">
                {% for x in prelim %}
                <tr>
                    <td>{{x.tm}} <br> <form action="/shift" method="POST">
                        <input type="hidden" name="tm" value="{{x.tm}}">
                        <input type="hidden" name="id" value="{{x.id}}">
                        <input type="submit" value="move down">
                    </form> </td>
                    <td>{{x.fr}} <br> <form action="/shift" method="POST">
                        <input type="hidden" name="fr" value="{{x.fr}}">
                        <input type="hidden" name="id" value="{{x.id}}">
                        <input type="submit" value="move down">
                    </form> </td>
                    <td>{{x.ru}} <br> <form action="/shift" method="POST">
                        <input type="hidden" name="ru" value="{{x.ru}}">
                        <input type="hidden" name="id" value="{{x.id}}">
                        <input type="submit" value="move down">
                    </form> </td>
                    <td>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="id_prelim" value="{{x.id}}">
                            <input type="submit" value="Delete">
                        </form>
                        <form action="/modify" method="POST">
                            <input type="hidden" name="id_prelim" value="{{x.id}}">
                            <input type="submit" value="Modify">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <form action="/succes" method="POST">
                <input type="hidden" name="id" value="1">
                <input type="submit" value="Accept">
            </form>
            <form action="/delete" method="POST">
                <input type="hidden" name="idAll" value="1">
                <input type="submit" value="Discard">
            </form>
        </div>
        
        
    {%endblock%}